<div class="row">
  <div class="col-lg-3">
    <app-bien-categorie></app-bien-categorie>
  </div>
  <!-- /.col-lg-3 -->
  <div class="col-lg-9">
    <div class="row">
      <div class="col-lg-4 col-md-6 mb-4" *ngFor="let bien of biens">
        <div class="card h-100">
          <a href="#"><img class="card-img-top img-responsive" [src]="bien.urlPhoto"></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">{{ bien.nom }}</a>
            </h4>
            <h5>{{ bien.prix | currency: 'EUR'}}</h5>
            <p class="card-text">{{ bien.description }}</p>
          </div>
          <div class="card-footer">
            <button class="btn btn-primary float-right">Details</button>
          </div>
        </div>
      </div>
      <div *ngIf="biens?.length == 0" class="col-md-12 alert alert-warning mt-3">
        Ce bien n'est pas trouvé!!!
      </div>
    </div>
  </div>